main{
    background-color: #a01c1c;
}
.carousel{
    img{
        height: 700px;
        border-radius: 10px ;
    }
}
.texto-titulo{
    
    color: rgb(233, 154, 7);
    h1{
        font-size: 5rem;
    }
    p{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
}
